* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
  }

  html{
    font-family: "Varela Round", sans-serif;
  }

  header{
    height: 120px;
    width: 100%;
    background-color: #082028 ;
    display: flex;
    align-items: center;
    img{
      height: 40px;
      margin-left: 30px;
    }
  }
  .d_none{
    display: none;
  }
  main{
    height: 100vh;
    width: 100%;
    background-color: #05171e;    
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
      margin-top: 20px;
      margin-bottom: 50px;
      @media (max-width: 510px ){
        font-size: 1.2rem;
      }
      
    }
    .overlay{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: opacity 0.3s ease;
      z-index: 9999;
    }
    .cardview{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 100px;
      img{
        margin-left: 0px;
        margin-bottom: 0px;
        width: 60%;
        height: 80%;
      }
      img:hover{
        cursor: pointer;
        filter: none;
      }
    }
    .close-btn{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: white;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1000;
    }
    .switch-btn{
      background: transparent;
      color: white;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }
    img{
      width: 120px;
      height: 100px;
      border-radius: 15px;
      margin-left: 15px;
      margin-bottom: 15px;
      @media (max-width: 350px){
        width: 100px;
        height: 80px;
      }
    }
    img:hover{
      cursor: pointer;
      filter: drop-shadow(0px 0px 4px #ffffff);
    }
    #content{
      display: ruby;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  footer{
    width: 100%;
    height: 120px;
    background-color: #082028;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    img{
      height: 40px;
    }
    a:hover{
      cursor: pointer;
      filter: drop-shadow(0px 0px 4px #ffffff);
    }
    
  }
  
